<span class="fields" data-object-name="<%= frm.object_name %>">
  <%= frm.attribute_select({associations: @rap_associations}, {class: 'ransack-attribute-select form-control input-sm'}) %>
  <script>$('[data-object-name="<%= frm.object_name %>"] select:first').trigger('change');</script>
</span>