<span class="fields" data-object-name="<%= frm.object_name %>">
  <%= frm.attribute_select({associations: @rap_associations_names}, {class: 'ransack-attribute-select form-control input-sm'}) %>
</span>