<span class="fields", data-object-name="<%= frm.object_name %>">
  <%= frm.attribute_select({associations: @ransack_object.klass.ransackable_associations},
                           {class: 'ransack-attribute-select form-control input-sm'}) %>
</span>