<span class="fields value data-object-name <%= frm.object_name %>">
  <% frm_condition.object.inspect %>
  <% frm.object.value %>
  <%= frm.text_field(:value, {class: 'form-control input-sm ransack-value-select'}) %>
</span>